 <div class="user-details">
  <h1> Technical Skills </h1>
  <p> {{site.user_description}} </p>
</div>

<div class="user">
  <div class="tech">
    <h2>Languages</h2>
    <i class="devicon-java-plain colored"></i>
    <i class="devicon-c-plain colored"></i>
    <i class="devicon-python-plain colored"></i>
    <p>I am fluent in Java, C/C++, Python, Kotlin and Bash programming. Through the co-op program at University Waterloo, I am able to apply knowledge such as programming languages learned in class in a professional setting.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-vim-plain colored"></i>
    <i class="devicon-intellij-plain colored"></i>
    <p>Tools and IDEs such as Git, Vim, Android Studio and CLion have been helpful to me since day one. I find that these tools (and many more!) make me more productive and enjoy programming even more.</p>
  </div>
  <div class="tech">
    <h2>Mobile</h2>
    <i class="devicon-slack-plain colored"></i>
    <i class="devicon-android-plain colored"></i>
    <i class="devicon-apple-original colored"></i>
    <p>At my last co-op, I gained valuable experience in the tech industry by working with a team of experienced mobile developers on building and adding to a published native mobile application.</p>
  </div>
</div>
