<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/demo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> OutfitPicker - Upload your closet and we will match outfits for you!</h3>
    <ul>
      <li> Java</li>
      <li> Android Studio</li>
    </ul>
    <p>Outfit Picker is an android app that matches your current clothes and gives you suggestions of what to wear, saving you time every morning. After taking pics of your wardrobe, this smart app will show you combinations of outfits to save you time deciding.</p>
    <p>This game was developed in a group of four as a hackathon project for Hack the Valley II. Through this project, we gained a better understanding of Android app development in terms of UI, how a database connects with an app, the activity life cycle, etc.</p>
    <a class="project-link" href="https://github.com/Nataland/OutfitPicker">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/quadris.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Quadris - The traditional game Tetris but with a slight twist </h3>
    <ul>
      <li> C++</li>
      <li> Design patterns used: Factory design pattern, MVC design pattern, Observer pattern, pImpl and Command pattern</li>
    </ul>
    <p>A simple game of Quadris consists of Board and Blocks. The player can use commands such as “right”, “left”, “down”, “clockwise”, “counterclockwise” and “drop” to manipulate the block, and this will update the display of the board. The player gains points by canceling out a full row, and the game is over when the board overflows just like in traditional Tetris. However, this game is different from Tetris since it is not real time (i.e. blocks do not fall by themselves)</p>
    <p>This game was developed in a group of three as our final project for the course CS246. Through this project, we were able to practice coding in C++ as well as implement design patterns that we learned in class.</p>

    <a class="project-link" href="#">Code available upon request</a>
  </div>
</div>
